.nav {
  float: right;
  height: 90vh;
  width: 5%; 
  top: 0;
  z-index: 100;
}
.nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 4rem;
  column-count: 1;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav li {
  list-style-type: none;
  font-size: 10px;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  cursor: pointer;
  transition: color 0.3s ease;
}

#links a {
  text-decoration: none;
  color: gray;
}

#links a.active {
  color: black;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .nav {
    float: right;
    height: 100vh;
    width: 15%;
    /* background-color: rgb(231, 226, 220); */
    top: 0;
    z-index: 100;
  }
  .nav li {
    list-style-type: none;
    font-size: 1rem;
    writing-mode: horizontal-tb;
    cursor: pointer;
    transition: color 0.3s ease;
  }
}
@media (max-width: 700px) { 
  .nav {
    float: top;
    height: 10%;
    width: 100vw;
    /* background-color: rgb(234, 228, 220); */
    z-index: 100;
    position: absolute;
    top: 7%;
  }
  .nav ul {
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(221, 235, 235);
    align-items: center;
    position: absolute;
    width: 100%;
    top: -50%;
    height: 50px;
  } 
  .nav li {
    list-style-type: none;
    font-size: 0.8rem;
    cursor: pointer;
    transition: color 0.3s ease;
  }
}
